*{
    margin: 0;
    padding: 0;
}
 body{
    overflow: hidden;
    animation: shakebody linear 6s infinite;
} 
.sky{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    position: absolute;
}

.trees{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover; 
    position: absolute;
    top: -144px; 
}
.track{
    height: 40vh;
    width: 800vw;
    background-image: url(track.png);
    background-repeat: repeat-x; 
    position: absolute;
    top: 70vh;
    animation: carMove linear 13s infinite;

}
.car{
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 200px;
    bottom: 110px;
    animation:shake linear .6s infinite;
   
}
.block{
    width: 30px;
    height: 70px;
    background-color: red;
    position: relative;
    top: 550px;
    left: 600px;
    animation: block 3s infinite linear;
}
.btn1{
    top: 400px;
    left: 1300px;
    position:absolute;
}
.btn2{
    top: 400px;
    left: 1340px;
    position: absolute;
}

.wheel1 img{
    width: 77px;
    position: relative;
    top: 465px;
    left: 239px;
    animation: wheelRotation linear .6s infinite;
    

}

.wheel2 img{
    width: 77px;
    position: relative;
    top: 395px;
    left: 434px;
    animation: wheelRotation linear .6s infinite;
 
}








@keyframes wheelRotation{

    100%{
        transform: rotate(360deg);
    }
}


@keyframes carMove{

    100%{
        transform: translate(-500vw);
    }
}

@keyframes shake{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }

    100%{
        transform: translateY(-5px);
    }
}

@keyframes block{

    0%{
        left: 1600px;
         }
         100%{
            left: -1600px;
         }
    }

